@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-size: 17px;
}

.button-color {
  background-color: #1565d8;
}

.area-bg-lightblue {
  background-color: rgba(21, 101, 216, 0.1);
}

@layer components {
  .default-button {
    @apply text-black h-12 py-2 px-4 rounded-2xl flex  justify-center 
    items-center gap-3 font-semibold w-full;
  }

  .primary-button {
    @apply default-button button-color text-white
      shadow-lg focus:outline-none focus:ring-2 
      focus:ring-blue-400 focus:ring-opacity-75;
  }

  .secondary-button {
    @apply default-button text-black;
  }

  .disabled-button {
    @apply default-button text-white cursor-default bg-gray-300;
  }

  .text-input-display {
    @apply w-full bg-white rounded-xl text-xs py-2 px-2 h-8 
    overflow-x-auto text-center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
