@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-size: 17px;
}

.mask {
  background-color: "rgba(0, 0, 0, 0.05)";
}

.button-color {
  background-color: #1565d8;
}

.area-bg-lightblue {
  background-color: rgba(21, 101, 216, 0.1);
}

@layer components {
  .default-button {
    @apply text-black h-12 py-2 px-4 rounded-2xl flex  justify-center 
    items-center gap-3 font-semibold w-full;
  }

  .app-button {
    @apply default-button button-color text-white
      shadow-lg focus:outline-none focus:ring-2 
      focus:ring-blue-400 focus:ring-opacity-75;
  }

  .secondary-button {
    @apply default-button text-black;
  }

  .disabled-button {
    @apply default-button text-white cursor-default bg-gray-300;
  }

  .text-input-display {
    @apply w-full bg-white rounded-xl text-xs py-2 px-2 h-8 overflow-x-auto;
  }
}

/* 
.app-button {
  background: #1565d8;
  border-radius: 15px;
  padding: 15px 30px;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip {
  transform: scale(-1, 1);
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
